@page
@model ThankYouModel
@{
    ViewData["Title"] = "Visma Car Rentals";
}

<h1>Thank you @Model.FirstName !</h1>

<p>We'we sent you an email to the address @Model.Email, here you'll find the contract and you can sign it digitally.</p>
<p>Once the contract is signed you can pick up yor car.</p>